body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1227px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u429 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u430 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u431 {
  position:absolute;
  left:852px;
  top:0px;
  width:375px;
  height:667px;
}
#u432 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433 {
  position:absolute;
  left:85px;
  top:607px;
  width:206px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
