body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u134 {
  position:absolute;
  left:164px;
  top:49px;
  width:375px;
  height:667px;
}
#u135 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u136 {
  position:absolute;
  left:635px;
  top:42px;
  width:375px;
  height:667px;
}
#u137 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u138 {
  position:absolute;
  left:1057px;
  top:49px;
  width:375px;
  height:667px;
}
#u139 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
