body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u236 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:90px;
  top:619px;
  width:51px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u238 {
  position:absolute;
  left:235px;
  top:619px;
  width:51px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u239 {
  position:absolute;
  left:312px;
  top:619px;
  width:51px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u240 {
  position:absolute;
  left:159px;
  top:619px;
  width:53px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u241 {
  position:absolute;
  left:8px;
  top:619px;
  width:64px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u242 {
  position:absolute;
  left:325px;
  top:22px;
  width:38px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u243 {
  position:absolute;
  left:112px;
  top:22px;
  width:154px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u244 {
  position:absolute;
  left:8px;
  top:112px;
  width:105px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u245 {
  position:absolute;
  left:136px;
  top:112px;
  width:100px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u246 {
  position:absolute;
  left:263px;
  top:112px;
  width:100px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u247 {
  position:absolute;
  left:0px;
  top:161px;
  width:363px;
  height:448px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u248 {
  position:absolute;
  left:8px;
  top:72px;
  width:355px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
