body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u227 {
  position:absolute;
  left:2px;
  top:414px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:9px;
  top:26px;
  width:53px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u229 {
  position:absolute;
  left:7px;
  top:23px;
  width:48px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u230 {
  position:absolute;
  left:311px;
  top:23px;
  width:64px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u231 {
  position:absolute;
  left:284px;
  top:74px;
  width:84px;
  height:37px;
}
#u232 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:131px;
  top:95px;
  width:116px;
  height:121px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u234 {
  position:absolute;
  left:284px;
  top:246px;
  width:92px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
