body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u199 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:8px;
  top:19px;
  width:101px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u201 {
  position:absolute;
  left:0px;
  top:211px;
  width:381px;
  height:174px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
