body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2837px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u438 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u439 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u440 {
  position:absolute;
  left:434px;
  top:0px;
  width:375px;
  height:667px;
}
#u441 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u442 {
  position:absolute;
  left:1158px;
  top:42px;
  width:375px;
  height:667px;
}
#u443 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u444 {
  position:absolute;
  left:1583px;
  top:42px;
  width:375px;
  height:667px;
}
#u445 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u446 {
  position:absolute;
  left:2013px;
  top:42px;
  width:375px;
  height:667px;
}
#u447 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u448 {
  position:absolute;
  left:2462px;
  top:42px;
  width:375px;
  height:667px;
}
#u449 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
