body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2837px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u314 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u315 {
  position:absolute;
  left:434px;
  top:0px;
  width:375px;
  height:667px;
}
#u316 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u317 {
  position:absolute;
  left:1158px;
  top:42px;
  width:375px;
  height:667px;
}
#u318 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u319 {
  position:absolute;
  left:1583px;
  top:42px;
  width:375px;
  height:667px;
}
#u320 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u321 {
  position:absolute;
  left:2013px;
  top:42px;
  width:375px;
  height:667px;
}
#u322 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u323 {
  position:absolute;
  left:2462px;
  top:42px;
  width:375px;
  height:667px;
}
#u324 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
