body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:730px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:730px;
}
#u68 {
  position:absolute;
  left:2px;
  top:357px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:8px;
  top:23px;
  width:48px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:313px;
  top:23px;
  width:48px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:128px;
  top:262px;
  width:95px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:215px;
  top:626px;
  width:154px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:261px;
  top:489px;
  width:108px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:8px;
  top:574px;
  width:361px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:210px;
  top:436px;
  width:154px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
