body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:730px;
}
#u38 {
  position:absolute;
  left:108px;
  top:200px;
  width:375px;
  height:730px;
}
#u39 {
  position:absolute;
  left:2px;
  top:357px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
