body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:800px;
}
#u182 {
  position:absolute;
  left:135px;
  top:53px;
  width:375px;
  height:800px;
}
#u183 {
  position:absolute;
  left:2px;
  top:392px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
