body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:875px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:848px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:848px;
}
#u214 {
  position:absolute;
  left:2px;
  top:416px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:848px;
}
#u215 {
  position:absolute;
  left:500px;
  top:0px;
  width:375px;
  height:848px;
}
#u216 {
  position:absolute;
  left:2px;
  top:416px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
