body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:800px;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:800px;
}
#u394 {
  position:absolute;
  left:2px;
  top:392px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395 {
  position:absolute;
  left:13px;
  top:26px;
  width:54px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u396 {
  position:absolute;
  left:145px;
  top:69px;
  width:67px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u397 {
  position:absolute;
  left:68px;
  top:71px;
  width:67px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u398 {
  position:absolute;
  left:222px;
  top:69px;
  width:67px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
