body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1229px;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1229px;
}
#u320 {
  position:absolute;
  left:2px;
  top:606px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:880px;
}
#u321 {
  position:absolute;
  left:419px;
  top:27px;
  width:375px;
  height:880px;
}
#u322 {
  position:absolute;
  left:2px;
  top:432px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:13px;
  top:27px;
  width:39px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u324 {
  position:absolute;
  left:42px;
  top:216px;
  width:285px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u325 {
  position:absolute;
  left:82px;
  top:341px;
  width:296px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u326 {
  position:absolute;
  left:282px;
  top:805px;
  width:85px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u327 {
  position:absolute;
  left:290px;
  top:969px;
  width:77px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u328 {
  position:absolute;
  left:290px;
  top:528px;
  width:77px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u329 {
  position:absolute;
  left:74px;
  top:539px;
  width:31px;
  height:27px;
}
#u330 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
