body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:571px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:880px;
}
#u160 {
  position:absolute;
  left:196px;
  top:35px;
  width:375px;
  height:880px;
}
#u161 {
  position:absolute;
  left:2px;
  top:432px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
