body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
}
#u480 {
  position:absolute;
  left:76px;
  top:21px;
  width:300px;
  height:15px;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:4851px;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:4851px;
}
#u483 {
  position:absolute;
  left:2px;
  top:2418px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
