body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:563px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:888px;
}
#u154 {
  position:absolute;
  left:188px;
  top:46px;
  width:375px;
  height:888px;
}
#u155 {
  position:absolute;
  left:2px;
  top:436px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
