body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u164 {
  position:absolute;
  left:527px;
  top:0px;
  width:375px;
  height:845px;
}
#u165 {
  position:absolute;
  left:2px;
  top:414px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u166 {
  position:absolute;
  left:978px;
  top:0px;
  width:375px;
  height:845px;
}
#u167 {
  position:absolute;
  left:2px;
  top:414px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u168 {
  position:absolute;
  left:1427px;
  top:0px;
  width:375px;
  height:845px;
}
#u169 {
  position:absolute;
  left:2px;
  top:414px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u170 {
  position:absolute;
  left:0px;
  top:150px;
  width:375px;
  height:845px;
}
#u171 {
  position:absolute;
  left:2px;
  top:414px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
