body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:800px;
}
#u184 {
  position:absolute;
  left:209px;
  top:26px;
  width:375px;
  height:800px;
}
#u185 {
  position:absolute;
  left:2px;
  top:392px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
