body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u371 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372 {
  position:absolute;
  left:14px;
  top:24px;
  width:46px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
