body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u211 {
  position:absolute;
  left:2px;
  top:414px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:925px;
}
#u212 {
  position:absolute;
  left:470px;
  top:0px;
  width:375px;
  height:925px;
}
#u213 {
  position:absolute;
  left:2px;
  top:454px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:925px;
}
#u214 {
  position:absolute;
  left:920px;
  top:0px;
  width:375px;
  height:925px;
}
#u215 {
  position:absolute;
  left:2px;
  top:454px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:925px;
}
#u216 {
  position:absolute;
  left:1376px;
  top:0px;
  width:375px;
  height:925px;
}
#u217 {
  position:absolute;
  left:2px;
  top:454px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:9px;
  top:26px;
  width:53px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u219 {
  position:absolute;
  left:7px;
  top:23px;
  width:48px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u220 {
  position:absolute;
  left:311px;
  top:23px;
  width:64px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u221 {
  position:absolute;
  left:284px;
  top:74px;
  width:84px;
  height:37px;
}
#u222 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:131px;
  top:95px;
  width:116px;
  height:121px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u224 {
  position:absolute;
  left:284px;
  top:246px;
  width:92px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u225 {
  position:absolute;
  left:0px;
  top:501px;
  width:375px;
  height:263px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
