body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u181 {
  position:absolute;
  left:2px;
  top:414px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:925px;
}
#u182 {
  position:absolute;
  left:470px;
  top:0px;
  width:375px;
  height:925px;
}
#u183 {
  position:absolute;
  left:2px;
  top:454px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:925px;
}
#u184 {
  position:absolute;
  left:920px;
  top:0px;
  width:375px;
  height:925px;
}
#u185 {
  position:absolute;
  left:2px;
  top:454px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:925px;
}
#u186 {
  position:absolute;
  left:1376px;
  top:0px;
  width:375px;
  height:925px;
}
#u187 {
  position:absolute;
  left:2px;
  top:454px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
