body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u42 {
  position:absolute;
  left:100px;
  top:200px;
  width:375px;
  height:667px;
}
#u43 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u44 {
  position:absolute;
  left:576px;
  top:200px;
  width:375px;
  height:667px;
}
#u45 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u46 {
  position:absolute;
  left:1013px;
  top:200px;
  width:375px;
  height:667px;
}
#u47 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
