body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u131 {
  position:absolute;
  left:437px;
  top:0px;
  width:375px;
  height:667px;
}
#u132 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u133 {
  position:absolute;
  left:1123px;
  top:42px;
  width:375px;
  height:667px;
}
#u134 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u135 {
  position:absolute;
  left:1570px;
  top:42px;
  width:375px;
  height:667px;
}
#u136 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u137 {
  position:absolute;
  left:2006px;
  top:42px;
  width:375px;
  height:667px;
}
#u138 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u140 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:8px;
  top:24px;
  width:51px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u142 {
  position:absolute;
  left:316px;
  top:24px;
  width:51px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143 {
  position:absolute;
  left:16px;
  top:251px;
  width:182px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  position:absolute;
  left:16px;
  top:351px;
  width:182px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u145 {
  position:absolute;
  left:16px;
  top:118px;
  width:252px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
