body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u66 {
  position:absolute;
  left:476px;
  top:51px;
  width:375px;
  height:667px;
}
#u67 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u68 {
  position:absolute;
  left:1123px;
  top:42px;
  width:375px;
  height:667px;
}
#u69 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u70 {
  position:absolute;
  left:1570px;
  top:42px;
  width:375px;
  height:667px;
}
#u71 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u72 {
  position:absolute;
  left:2006px;
  top:42px;
  width:375px;
  height:667px;
}
#u73 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u74 {
  position:absolute;
  left:48px;
  top:51px;
  width:375px;
  height:667px;
}
#u75 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
