body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:730px;
}
#u72 {
  position:absolute;
  left:128px;
  top:197px;
  width:375px;
  height:730px;
}
#u73 {
  position:absolute;
  left:2px;
  top:357px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
